# Ignore all PDF files
*.pdf

# Ignore all PowerShell and batch script files
*.ps1

*.bat

# these(c,cpp)  are only for testing purposes
#*.c
#*.cpp
#not anymore, they are for demonstration

#D:\Programming\Haskell\Start(File&VS-code).bat


# vs code 
.vscode
*.json